nav{
    display: flex;
    font-family: 'Foldit', cursive;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
span{
    color: tomato;
}
.menus{
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: gray;
}
.btn-primary{
    background: tomato;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* Header related style */
.header{
background-color: blanchedalmond;
background-image: url(images/Screenshot\ 2023-07-08\ at\ 23.26.12.png);
background-repeat: no-repeat;
background-size: 300px;
background-position: bottom right;
padding-right: 200px;

}
.banner{
    padding: 30px 30px 0px 120px ;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.Profile-picture{
    margin-left: 450px;
    
}
.Section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.section-discription{
    color: #757575;
    text-align: center;
    font-size: 25px;
}
.about{
    background-color: #fff8f3;
    border-radius: 20px;
    padding: 100px;
    margin-right: 130px 0px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
   padding-top: 50px;
}
main section{
    margin-top: 80px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 10px 120px;
}
.Skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0,  0, 0, 0);
}
.Resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.Resume-colum{
    d
}
   
    