nav{
    display: flex;
    font-family: 'Foldit', cursive;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
span{
    color: tomato;
}
.menus{
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: gray;
}
.btn-primary{
    background: tomato;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* Header related style */
.header{
background-color: blanchedalmond;
background-image: url(images/Screenshot\ 2023-07-08\ at\ 23.26.12.png);
background-repeat: no-repeat;
background-size: 300px;
background-position: bottom right;
padding-right: 200px;

}
.banner{
    padding: 30px 30px 0px 120px ;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.Profile-picture{
    margin-left: 450px;
    
}
.Section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.section-discription{
    color: #757575;
    text-align: center;
    font-size: 25px;
}
.about{
    background-color: #fff8f3;
    border-radius: 20px;
    padding: 100px;
    margin-right: 130px 0px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
   padding-top: 50px;
}
main section{
    margin-top: 80px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 10px 120px;
}
.Skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0,  0, 0, 0);
}
.Resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.Resume-container{
    display: flex;
    gap: 70px;
}
.Resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;

}
.Resume-item-institue{
   color: #757575;
   font-size: 20px;
   font-weight: 600;
   margin-top: 10px;

}
.Resume-item-discription{
    color: #757575;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   margin-top: 10px;
}
.Resume-container hr{
    margin: 25px ;
}
.Download-CV{
 text-align: center;
 color: #FFF;
 font-size: 20px;
 font-weight: 700;
 margin-top: 50px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    background: #fff8f3;
    padding: 130px 200px;
    gap: 130px;
    
}
.social-media-links a{

    margin-right: 25px;
}
.Section-title{
color: #181818;
justify-content: space-around;
font-size: 35px;
font-weight: 700;

}
.footer-colume{
    width: 50%;
    
}
.contact, input[type="text"], .contact  input[type="email"], textarea{
    margin-bottom: 25px;
    display: block;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
 
}
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .Skills-container, .about-info-container, .Resume-container{
   flex-direction: column;
    }
        
    }
    #what-i-do-description{
        padding: 10px ;
    }
    
    .footer-container{
        flex-direction: column;
        padding: 0px;

    }
    .footer-colume{
        width: 100%;
    }
    .Section-title, .section-discription{
        text-align: left;
    }
    .contact, input[type="text"], .contact  input[type="email"], textarea{
        width: 85%;
    }
    .about{
        padding: 10px;

    }
   
    
}
@media screen and (min-width: 576px) and (max-width: 960px) {

.Resume-container{
    flex-direction: column;
}
.Skills-container{
    flex-direction: column;
}
#what-i-do-description{
    padding: 10px ;
 }
 .Section-title{
       margin-right: 700px;
      
 }
 .section-discription{
    text-align: left;
    margin-left: 10px;
   
 }
 
  }